<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Title, Meta Tags, Stylesheets, Icons, Scripts to load prior to HTML/CSS -->
    {% include "includes/head.html" %}
  </head>

  <body>

  {% block content %}
  {% endblock %}

  </body>
</html>
